@import "font/ptsans.css";

html, body{
  height: 100%;
}

.clf:after{
  display: block;
  clear: both;
  content: "";
}

#container{
  position: relative;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

/* Текст. */

.first-text{
  padding: 30px;
  width: 849px;
}

.first-text .column{
  color: #000;
  font: normal 16px "PT Sans", Arial, Verdana;
}

.first-text .column.col-1{
  float: left;
  margin: 0 89px 0 0;
  width: 380px;
}

.first-text .column.col-2{
  overflow: hidden;
}

.first-text .text-head{
  margin: 0 0 20px;
  width: 47%;
  color: #333333;
  font-size: 24px;
}

.first-text .column p{
  margin: 0 0 22px;
  text-indent: 15px;
}

.first-text .column a{
  color: #0070ed;
}

.first-text .column .pseudo{
  border-bottom: 1px dotted #353434;
  color: #353434;
}

.first-text .column .list{
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}

.first-text .column .list .list-item:before{
  position: absolute;
  display: inline-block;
  float: left;
  margin-left: -18px;
  color: #858585;
  content: "\2014";
}

/* Список из браузеров */

.second-browsers{
  padding: 30px;
  width: 849px;
}

.second-browsers .browser-list{
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.second-browsers .browser-list .browser-item{
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 128px;
  height: 128px;
  text-align: center;
  line-height: 128px;
}

.second-browsers .browser-list .browser-item .logo{
  position: absolute;
  width: 128px;
  height: 128px;
  background: url(../img/browsers.png) no-repeat;
}

.second-browsers .browser-list .browser-item .chrome-img{
  background-position: 0 0;
}

.second-browsers .browser-list .browser-item .firefox-img{
  background-position: -128px 0;
}

.second-browsers .browser-list .browser-item .opera-img{
  background-position: -256px 0;
}

.second-browsers .browser-list .browser-item .safari-img{
  background-position: -384px 0;
}

.second-browsers .browser-list .browser-item .ie-img{
  background-position: -512px 0;
}

/* Для последнего в списке */
.second-browsers .browser-list .browser-item.last{
  position: absolute;
  top: 0;
  right: 0;
}

/* Текст списка */

.second-browsers .browser-item span{
  margin: 0 auto;
  font: normal 16px "Arial", PT Sans, Verdana;
  display: none;
}
.second-browsers .browser-item span span{
  text-align: left;
  line-height: 16px;
}

/* Chrome */
.second-browsers .browser-item.chrome .green{
  color: #22a12a;
}

.second-browsers .browser-item.chrome .ch-red{
  color: #c90000;
}

.second-browsers .browser-item.chrome .yellow{
  color: #f9d411;
}

/* FF */
.second-browsers .browser-item.firefox .orange{
  color: #f2a414;
}

/* Opera */
.second-browsers .browser-item.opera .op-red{
  color: #c10e0e;
}

/* Safari */
.second-browsers .browser-item.safari .grey{
  color: #646464;
}

/* IE */
.second-browsers .browser-item.ie .blue{
  display: block;
  margin-top: 45px;
  width: 40%;
  color: #036da3;
  text-align: left;
}

.test{
  display: none;
}


/* Progress Bar */
.third{
  padding: 30px;
  width: 849px;
}

.third .progress{
  margin: 0;
  padding: 0;
  width: 210px;
  height: 13px;
  background: #e6e6e6 url(../img/progress.png) repeat-x 0 0;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.third .progress .bar{
  margin: 0;
  padding: 0;
  width: 1%;
  height: 13px;
  border-radius: 7px;
  background: #2cc218 url(../img/bar.png) repeat-x 0 0;
  background: linear-gradient(to bottom, #abff58 0%,#9cf851 8%,#86ee46 17%,#3bca21 42%,#2cc218 50%,#29bf14 58%,#3cc214 67%,#7bd517 83%,#8bda1a 92%,#64cf18 100%);
}

.third .progress .percent{
  font: normal 9px 'Verdana', Arial, Tahoma;
  position: absolute;
  top: 0;
  width: 100%;
  height: 13px;
  text-align: center;
}
